<a href="https://colab.research.google.com/github/Niklasmadsen98/airbnb-price-prediction/blob/main/1_Mandatory_assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

## Question 1:

* Question a) Write a for loop to compute the sum of all numbers below 1000 that are a multiple of either 3 or
5.

In [ ]:
the_sum = 0 # 
for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        #print(i)#this is the multiples - not really neseccary to print in this case 
        the_sum += i 
print("The sum of multiples below 1000 is:", the_sum)
# the % symbol returns the remainder of dividing the left hand operand by right hand operand.

The sum of multiples below 1000 is: 233168

In [ ]:
## Could also be written this way (or in many other ways )
max_num = 1000 # number is 10000 for the question.
final_sum = 0
for i in range(max_num):
    if (i % 3) == 0:
        final_sum += i
    elif (i % 5) == 0:
        final_sum += i
print("The sum of multiples below 1000 is:", final_sum)

The sum of multiples below 1000 is: 233168

In [ ]:
def total_sum(n): 
    _sum = 0
    i=1
    while i < n:
        if i % 3 == 0:
            _sum += i
        elif i % 5 == 0:
            _sum += i
    print("The sum of multiples below 1000 is:", _sum)

In [ ]:
total_sum(1000)

## Question 2:

We create a for loop to calculate the max product. 
First we define "largest_product" = 0 
Then we do the for loop: we calculate the product for every 4 integers. If the product is larger than the previous one we have a new largest product, if it is not larger, we "keep" the old one.

In [ ]:
hundred_digit_str= (
                    "731671765313306249192251"\
                    "196744265747423553491949349"\
                    "6983520312774506326239578318"\
                    "016984801869478851843"\
                   )

In [ ]:
hundred_digit_number = int( hundred_digit_str )
print(hundred_digit_number)

7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843

In [ ]:
inp=62646236952
inp_list=[int(x) for x in str(inp)] # creating a list so that we can loop through the numbers
print(inp_list)

[6, 2, 6, 4, 6, 2, 3, 6, 9, 5, 2]

In [ ]:
for i in range(len(inp_list)-3): # We use -3 as we want to calculate largest product of 4 consecutive numbers 
    inp_slice=inp_list[i:(i+4)]
    print(inp_slice, end="\t") # just for more spacing
    result=np.product(inp_slice)
    print("Product:" + str(result))

[6, 2, 6, 4]	Product:288
[2, 6, 4, 6]	Product:288
[6, 4, 6, 2]	Product:288
[4, 6, 2, 3]	Product:144
[6, 2, 3, 6]	Product:216
[2, 3, 6, 9]	Product:324
[3, 6, 9, 5]	Product:810
[6, 9, 5, 2]	Product:540

In [ ]:
best_result=0 # we know that we want something higher than 0 - could also be -infinity (np.inf)
for i in range(len(inp_list)-3): # We use -3 as we want to calculate largest product of 4 consecutive numbers 
    inp_slice=inp_list[i:(i+4)]
    print(inp_slice, end="\t") # just for more spacing
    result=np.product(inp_slice)
    print("Product:" + str(result))
    if result > best_result:
        best_result=result # if result is higher than best_result then we want that as our new best result 
        print("We are updating best result to the value of:")
        print(best_result)

[6, 2, 6, 4]	Product:288
We are updating best result to the value of:
288
[2, 6, 4, 6]	Product:288
[6, 4, 6, 2]	Product:288
[4, 6, 2, 3]	Product:144
[6, 2, 3, 6]	Product:216
[2, 3, 6, 9]	Product:324
We are updating best result to the value of:
324
[3, 6, 9, 5]	Product:810
We are updating best result to the value of:
810
[6, 9, 5, 2]	Product:540

In [ ]:
# Function to find the largest product of 4 consecutive numbers 
def find_biggest_4(inp):
    #we assume that inp is an int 
    inp_list = [int(x) for x in str(inp)]
    #Initiating best result
    best_result=0
    
    for i in range(len(inp_list)-3):
        inp_slice = inp_list[i:(i+4)]
        result=np.product(inp_slice)
        if result > best_result:
            best_result = result
    
    return(best_result)

In [ ]:
# Test scenarios 
print(find_biggest_4(3636272784))
print(find_biggest_4(463734))
print(find_biggest_4(47475775392234))

784
504
1715

In [ ]:
# The solution to question 2
print("The largest product is:", find_biggest_4(hundred_digit_number))

The largest product is: 3888

## Question 3

In [1]:
list_01 = [1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9]

In [2]:
def split_list(_list):
    even_list = [] #creating empty lists (to be filled)
    odd_list = []
    for i in _list:
        if (i % 2 == 0):
            even_list.append(i)
        else:
            odd_list.append(i)
    print("Even lists:", even_list)
    print("Odd lists:", odd_list)

In [3]:
split_list(list_01)

Even lists: [2, 4, 6, 8]
Odd lists: [1, 3, 5, 7, 9]

## Question 4:

In [ ]:
# Reversing using a loop - not the solution. 
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str

Recursive call is made on the substring of s starting from the second element (e.g S[1:] gives you s without the first element). It is then appending the result of the recursive call to the first character of s, e.g. s[0] In the function, the base condition is that if the length of the string is equal to 0, the string is returned. If not equal to 0, the reverse function is recursively called to slice the part of the string except the first character and concatenate the first character to the end of the sliced string.

In [ ]:
input_string="copenhagen"
reverse(input_string)

'negahnepoc'

In [ ]:
def reverse(s):
    if len(s) == 0:
        return s
    else:
        return reverse(s[1:]) + s[0]

How this code works is that: when we call the function
* reverse('abc') #s = abc
* reverse('bc') + 'a' #s[1:] = bc s[0] = a
* reverse('c') + 'b' + 'a' #s[1:] = c s[0] = a
* reverse('') + 'c' + 'b' + 'a'
* cba'

In [ ]:
reverse(input_string)

'negahnepoc'

## Question 5:

In [ ]:
long_string = "ccgatcahctatttaaaaccctatcatastadfa"
target_word = "cat"

In [ ]:
#testing if word is in string. 
if target_word in long_string: 
    print("the word is in the long string")

the word is in the long string

In [ ]:
# Not our solution - can also be performed using re
import re 
s="ccgatcahctatttaaaaccctatcatastadfa"
sub_string="cat"

new_list = [x for x in sub_string]

print(new_list)

sub_string_count=[]
for val in new_list:

    count = len(re.findall(val, s)) 

    sub_string_count.append(count)

print("word",sub_string," can be formed",min(sub_string_count),"times")

['c', 'a', 't']
word cat  can be formed 8 times

In [ ]:
string_input = 'ccgatcahctatttaaaaccctatcatastadfa'
substring = 'cat'
string_list = [] # Creating an empty list to store the results 
for i in substring:
    string_list.append(string_input.count(i)) # counting how many times each character appears in the string 

print(substring[0], "appears", string_list[0], "times", substring[1], "appears", string_list[1], "times","and",
     substring[2], "appears", string_list[2], "times.", "Hence, the word:", substring, "can be formed", min(string_list)
     , "times")

c appears 8 times a appears 12 times and t appears 9 times. Hence, the word: cat can be formed 8 times

In [ ]:
def count_word(string_input, sub_string):
    string_list = []
    if len(string_input)> 0:

        for character in sub_string: 
            string_list.append(string_input.count(character))
    return min(string_list)

In [ ]:
test_case_input = "wearelookingforwordsinthisstring"
test_case_word = "string"

In [ ]:
print("The word", test_case_word, "appears:", count_word(test_case_input,test_case_word), "times in the string")

The word string appears: 2 times in the string

## Question 6:

In [ ]:
#string_to_parse = "Copenhagen hosted Cop-09 summit at Bella Centre in 2009, which was attended by delegates from more than 100 countries." 
string_to_parse = "Copenhagen hosted Cop -09 summit " \
" at Bella Centre in 2009 , which " \
" was attended by delegates from " \
" more than 100 countries ."
separator = '_'

So we need to split the string when we meet "-" and any integers.

In [ ]:
def separate(string, separator):
    words = []
    nums = []
    """
    for char in string:
        if char in "-,":
            string = str(string.split())
            #string = string.split() 
            
    """
    string=re.sub('(\d+(\.\d+)?)', r' \1 ', string)
    
                
    for word in string: 
        if word.isnumeric():
            nums.append(word)
            string = string.replace(word, separator, 1)
        else:
            words.append(word)

    return "".join(map(lambda s: s if s.isalpha() or s == separator else "", "".join(string.split(" ")))), separator.join(nums)

In [ ]:
new_string=re.sub("[^0-9a-zA-Z]",        # Anything except 0..9, a..z and A..Z
       "",                    # replaced with nothing
       string_to_parse) # The string we want to use regex on

In [ ]:
new_string

'CopenhagenhostedCop09summitatBellaCentrein2009whichwasattendedbydelegatesfrommorethan100countries'

In [ ]:
test= re.findall(r'\d',string_to_parse)

In [ ]:
test

['0', '9', '2', '0', '0', '9', '1', '0', '0']

In [ ]:
x = string_to_parse
s = re.findall('[0-9]',x)
print(s)
c = re.findall('[a-z/A-Z]',x)
print(c)

['0', '9', '2', '0', '0', '9', '1', '0', '0']
['C', 'o', 'p', 'e', 'n', 'h', 'a', 'g', 'e', 'n', 'h', 'o', 's', 't', 'e', 'd', 'C', 'o', 'p', 's', 'u', 'm', 'm', 'i', 't', 'a', 't', 'B', 'e', 'l', 'l', 'a', 'C', 'e', 'n', 't', 'r', 'e', 'i', 'n', 'w', 'h', 'i', 'c', 'h', 'w', 'a', 's', 'a', 't', 't', 'e', 'n', 'd', 'e', 'd', 'b', 'y', 'd', 'e', 'l', 'e', 'g', 'a', 't', 'e', 's', 'f', 'r', 'o', 'm', 'm', 'o', 'r', 'e', 't', 'h', 'a', 'n', 'c', 'o', 'u', 'n', 't', 'r', 'i', 'e', 's']

In [ ]:
words = []
nums = []
for word in new_string:
    if word.isnumeric():
        nums = word
        print(nums)
    else: 
        words = word

0
9
2
0
0
9
1
0
0

In [ ]:
nums

'0'

In [ ]:
words

's'

In [ ]:
myIntList = [x for x in new_string if isinstance(x, int)]
myIntList

[]

In [ ]:
words = []
nums = []
for char in string_to_parse:
    if char in "-,":
        string = str(string_to_parse.split())

In [ ]:
res = re.sub('(\d+(\.\d+)?)', r' \1 ', string_to_parse)
res

'Copenhagen hosted Cop- 09  summit at Bella Centre in  2009 , which was attended by delegates from more than  100  countries.'

In [ ]:
r=res.split()
r

['Copenhagen',
 'hosted',
 'Cop-',
 '09',
 'summit',
 'at',
 'Bella',
 'Centre',
 'in',
 '2009',
 ',',
 'which',
 'was',
 'attended',
 'by',
 'delegates',
 'from',
 'more',
 'than',
 '100',
 'countries.']

In [ ]:
words = []
nums = []

for word in r: 
    if word.isdigit():
        nums.append(word)
        string1 = r.replace(word, separator)
    else:
        words.append(word)

AttributeError: 'list' object has no attribute 'replace'

In [ ]:
nums

['0', '9', '2', '0', '0', '9', '1', '0', '0']

In [ ]:
string1

'Copenhagen hosted Cop- _9  summit at Bella Centre in  2__9 , which was attended by delegates from more than  1__  countries.'

In [ ]:
separate(string_to_parse,separator)

('CopenhagenhostedCop__summitatBellaCentrein____whichwasattendedbydelegatesfrommorethan___countries',
 '0_9_2_0_0_9_1_0_0')

In [ ]:
ss="-09"

In [ ]:
for i in ss.split():
        if i.isnumeric():
            print("Yes")
        else: 
            print("no_")

no_